.item__block {
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #34495e;
    border-radius: 20px;
    margin: 0 auto 20px;
    font-weight: 700;
}

.item__title {
    font-size: 18px;
    padding: 0 5px 10px;
    color: #fff;
}

.item__article {
    font-weight: 300;
    padding: 10px 0;
    color: #fff;
}

.item__img {
    width: 270px;
}

.item__bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px 0 10px;
}

.item__favorite {
    width: 25px;
    fill: #fff;
    cursor: pointer;

    &:hover {
        fill: #d35400;
    }

    &.active {
        fill: #e67e22;
    }
}

.item__color {
    font-weight: 300;
    padding: 5px 0;
    color: #fff;
}

.item__price {
    padding: 5px 0 15px;
    color: #fff;
}

.item__btn {
    margin: 0 0 15px;
    background-color: #03a7aa;
    color: #fff;
    background-color: #e67e22;
    color: #fff;
    box-shadow: 0 0 3px 1px #c0c0c0;
    transition: all 0.2s ease;
    
    &:hover {
        background-color: #d35400;
        box-shadow: 0 0 1px 1px #c0c0c0;
    }

    &[disabled] {
        background-color: #cbe3ed;
        color: #000;
        box-shadow: none;
        cursor: auto;

        &:hover {
            box-shadow: none;
        }
    }
}
