body {
    height: 100vh;
    background-color: #cbe3ed;
}

.body-no-scroll {
    overflow: hidden;
}

#root {
    height: inherit;
}

.app-wrapper {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
        sans-serif;
        height: inherit;
        display: flex;
        flex-direction: column;
}

.container {
    height: inherit;
    max-width: 1280px;
    margin: 0 auto;
}
